{% load static %}
<link rel="stylesheet" href="{% static 'onlinedasurv/ccs/stylecss.css' %}">

{% block content %}
        <!--Cart Design and Section-->
    <section class="cart-Items" id="cart">
        <span><h1>Latest Cart Collection</h1></span>
        <div class="products">
            <div class="card">
                <img src="static/onlinedasurvapp/img-shop/1.webp" alt="items">
                <div class="btn"><button>+</button><button>-</button><button>Add to Cart</button>
                    <input placeholder="2" disabled>
                </div>
            </div>

            <div class="card">
                <img src="static/onlinedasurvapp/img-shop/2.webp" alt="items">
                <div class="btn"><button>+</button><button>-</button><button>Add to Cart</button>
                    <input placeholder="2" disabled>  
                </div>
            </div>

            <div class="card">
                <img src="static/onlinedasurvapp/img-shop/3.webp" alt="items">
                <div class="btn"><button>+</button><button>-</button><button>Add to Cart</button>
                    <input placeholder="2" disabled>
                </div>
            </div>

            <div class="card">
                <img src="static/onlinedasurvapp/img-shop/4.webp" alt="items">
                <div class="btn"><button>+</button><button>-</button><button>Add to Cart</button>
                    <input placeholder="2" disabled>
                </div>
            </div>

            <div class="card">
                <img src="static/onlinedasurvapp/img-shop/5.webp" alt="items">
                <div class="btn"><button>+</button><button>-</button><button>Add to Cart</button>
                  <input placeholder="2" disabled>  
                </div>
            </div>

            <div class="card">
                <img src="static/onlinedasurvapp/img-shop/6.webp" alt="items">
                <div class="btn"><button>+</button><button>-</button><button>Add to Cart</button>
                    <input placeholder="2" disabled>
                </div>
            </div>

            <div class="card">
                <img src="static/onlinedasurvapp/img-shop/7.webp" alt="items">
                <div class="btn"><button>+</button><button>-</button><button>Add to Cart</button>
                    <input placeholder="2" disabled>
                </div>
            </div>            

            <div class="card">
                <img src="static/onlinedasurvapp/img-shop/8.webp" alt="items">
                <div class="btn"><button>+</button><button>-</button><button>Add to Cart</button>
                    <input placeholder="2" disabled>
                </div>
            </div>

            <div class="card">
                <img src="static/onlinedasurvapp/img-shop/9.webp" alt="items">
                <div class="btn"><button>+</button><button>-</button><button>Add to Cart</button>
                    <input placeholder="2" disabled>
                </div>
            </div>

            <div class="card">
                <img src="static/onlinedasurvapp/img-shop/10.webp" alt="items">
                <div class="btn"><button>+</button><button>-</button><button>Add to Cart</button>
                    <input placeholder="2" disabled>
                </div>
            </div>            

            <div class="card">
                <img src="static/onlinedasurvapp/img-shop/11.webp" alt="items">
                <div class="btn"><button>+</button><button>-</button><button>Add to Cart</button>
                    <input placeholder="2" disabled>
                </div>
            </div>

            <div class="card">
                <img src="static/onlinedasurvapp/img-shop/12.webp" alt="items">
                <div class="btn"><button>+</button><button>-</button><button>Add to Cart</button>
                    <input placeholder="2" disabled>
                </div>
            </div>            
            


        </div>
    </section>
    <hr>
{% endblock %}