{% load static %}
<link rel="stylesheet" href="{% static 'onlinedasurvapp/css/stylecss.css' %}">

{% block content %}
    <!-- For Chatbot -->
        <button class="open-chatbot" onclick="openForm()">CHAT</button>
            <div class="chat">
                <div class="chat-pop" id="chatbox">
                    <form action="#" class="chatbox-container">
                    <button class="btn-chat-cancel" onclick="closeForm()">&times;</button>
                        <h1>CHAT <label for="msg">Message</label></h1>
                        <div id="messages"></div>
                        <textarea name="msg" placeholder="Write the message" id="inputchatbot"></textarea>
                        <button></button>
                        <button class="btn-chat send" id="btn-chat">SEND</button>
                    
                </form>
            </div>
            </div>
            <script src="{% static 'javascript/script.js' %}">
                /*For ChatBot */
            </script>
            <script>
                function openForm(){
    document.getElementById("chatbox").style.display='block';
}

function closeForm(){
    document.getElementById("chatbox").style.display='none';
}
            </script>

{% endblock %}