
{% load static %}
    <link rel="stylesheet" href="{% static 'onlinedasurvapp/css/stylecss.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">

{% block title %} Home | Online Dasurv Items Shop {% endblock %}

{% block content %}
    <!--Home Design and Section-->
    <main class="home-Items" id="home">
        <span><h1>Latest Collection</h1></span>
        
        <div class="product-list">
            <div class="flip-card-inner">
                <div class="items">
                <img src="static/onlinedasurvapp/image/1.jpg" alt="items product">
                </div>
            <div class="clipcards"><p>These specialized tools generate product-related placeholder text, including fake product names, prices, discounts, shipping details,
                 and call-to-action buttons like “Buy Now” or “Limited Offer.”</p>
            </div>
            </div>

            <div class="flip-card-inner">
                <div class="items">
                <img src="static/onlinedasurvapp/image/2.jpg" alt="items product">
                </div>
            <div class="clipcards"><p>These specialized tools generate product-related placeholder text, including fake product names, prices, discounts, shipping details,
                 and call-to-action buttons like “Buy Now” or “Limited Offer.”</p>
            </div>
            </div>

            <div class="flip-card-inner">
                <div class="items">
                <img src="static/onlinedasurvapp/image/3.jpg" alt="items product">
                </div>
            <div class="clipcards"><p>These specialized tools generate product-related placeholder text, including fake product names, prices, discounts, shipping details,
                 and call-to-action buttons like “Buy Now” or “Limited Offer.”</p>
            </div>
            </div>

            <div class="flip-card-inner">
                <div class="items">
                <img src="static/onlinedasurvapp/image/4.jpg" alt="items product">
                </div>
            <div class="clipcards"><p>These specialized tools generate product-related placeholder text, including fake product names, prices, discounts, shipping details,
                 and call-to-action buttons like “Buy Now” or “Limited Offer.”</p>
            </div>
            </div>

            <div class="flip-card-inner">
                <div class="items1">
                    <img src="static/onlinedasurvapp/image/1.jpg" alt="items product">
                </div>
            <div class="clipcards"><p>These specialized tools generate product-related placeholder text, including fake product names, prices, discounts, shipping details,
                 and call-to-action buttons like “Buy Now” or “Limited Offer.”</p>
            </div>
            </div>
            <div class="flip-card-inner">
                <div class="items1">
                    <img src="static/onlinedasurvapp/image/2.jpg" alt="items product">
                </div>
            <div class="clipcards"><p>These specialized tools generate product-related placeholder text, including fake product names, prices, discounts, shipping details,
                 and call-to-action buttons like “Buy Now” or “Limited Offer.”</p>
            </div>
            </div>

            <div class="flip-card-inner">
                <div class="items1">
                    <img src="static/onlinedasurvapp/image/3.jpg" alt="items product">
                </div>
            <div class="clipcards"><p>These specialized tools generate product-related placeholder text, including fake product names, prices, discounts, shipping details,
                 and call-to-action buttons like “Buy Now” or “Limited Offer.”</p>
            </div>
            </div>

            <div class="flip-card-inner">
                <div class="items1">
                    <img src="static/onlinedasurvapp/image/4.jpg" alt="items product">
                </div>
            <div class="clipcards"><p>These specialized tools generate product-related placeholder text, including fake product names, prices, discounts, shipping details,
                 and call-to-action buttons like “Buy Now” or “Limited Offer.”</p>
            </div>
            </div>

             <div class="flip-card-inner">
                <div class="items1">
                    <img src="static/onlinedasurvapp/image/1.jpg" alt="items product">
                </div>
            <div class="clipcards"><p>These specialized tools generate product-related placeholder text, including fake product names, prices, discounts, shipping details,
                 and call-to-action buttons like “Buy Now” or “Limited Offer.”</p>
            </div>
            </div>

            <div class="flip-card-inner">
                <div class="items1">
                    <img src="static/onlinedasurvapp/image/4.jpg" alt="items product">
                </div>
            <div class="clipcards"><p>These specialized tools generate product-related placeholder text, including fake product names, prices, discounts, shipping details,
                 and call-to-action buttons like “Buy Now” or “Limited Offer.”</p>
            </div>
            </div>
        </div>     
    </main>
    <hr>
{% endblock %}