<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'onlinedasurvapp/navbar.html' %}


        {%block content%}
        {% include 'onlinedasurvapp/home.html' %}
        {% include 'onlinedasurvapp/shopitems.html' %}
        {% include 'onlinedasurvapp/cart.html' %}
        {% include 'onlinedasurvapp/blog.html' %}
        {% include 'onlinedasurvapp/contact.html' %}
        {% include 'onlinedasurvapp/signup.html' %}

        {% endblock %}
 

    
</body>
</html>