   {% load static %}
    <link rel="stylesheet" href="{% static 'onlinedasurvapp/css/stylecss.css' %}">
    
   <header>
        <nav class="navbar">
            <a href="#home" class="logo">E-commerse</a>
    
        <ul id="menuList">
            <li><a href="#home">Home</a></li>
            <li><a href="#shop">Shop</a></li>
            <li><a href="#cart">Cart</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#faqs">Faq's</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a onclick="document.getElementById('signup').style.display='block'">Sign up</a></li>
            <li><a onclick="toggledarkmode()">Dark Mode</a></li>
            <a href="cartshop.html" class="cart-icon">
                <i class="fa-solid fa-bag-shopping"></i>
                <span class="cart-items-count"></span>
            </a>
        </ul> 
        <div class="menu-bar"><a onclick="togglemenu()"><i class="fa-solid fa-bars menubar"></i></a></div>  
        </nav>
        
    </header>
    <script>
        let menuList = document.getElementById('menuList');
        menuList.style.maxHeight = '0px';

function togglemenu(){
    if(menuList.style.maxHeight == '0px'){
        menuList.style.maxHeight = '950px';
    }
    else{
        menuList.style.maxHeight = '0px';
    }
}
    </script>