{% load static %}
    <link rel="stylesheet" href="{% static 'onlinedasurvapp/css/stylecss.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    
{% block content %}
<!--Shop Design and Section-->
    <section class="shop-Items" id="shop">
        <span><h1>Latest Shop Collection</h1></span>
        <div class="w3-content w3-display-container" style="max-width: 500px; justify-content: center; align-items: center;">
            <img class="mySlides" src="static/onlinedasurvapp/img-shop/1.webp" alt="product-items" style="width:100%; height: 90%;">
            <img class="mySlides" src="static/onlinedasurvapp/img-shop/2.webp" alt="product-items" style="width:100%; height: 90%;">
            <img class="mySlides" src="static/onlinedasurvapp/img-shop/3.webp"  alt="product-items" style="width:100%; height: 90%;">
            <img class="mySlides" src="static/onlinedasurvapp/img-shop/4.webp"  alt="product-items" style="width:100%; height: 90%;">
            <img class="mySlides" src="static/onlinedasurvapp/img-shop/5.webp"  alt="product-items" style="width:100%; height: 90%;">
            <img class="mySlides" src="static/onlinedasurvapp/img-shop/6.webp"  alt="product-items" style="width:100%; height: 90%;">
            <img class="mySlides" src="static/onlinedasurvapp/img-shop/7.webp"  alt="product-items" style="width:100%; height: 90%;">
            <img class="mySlides" src="static/onlinedasurvapp/img-shop/8.webp"  alt="product-items" style="width:100%; height: 90%;">
            <img class="mySlides" src="static/onlinedasurvapp/img-shop/9.webp"  alt="product-items" style="width:100%; height: 90%;">
            <img class="mySlides" src="static/onlinedasurvapp/img-shop/10.webp"  alt="product-items" style="width:100%; height: 90%;">
            <img class="mySlides" src="static/onlinedasurvapp/img-shop/11.webp"  alt="product-items" style="width:100%; height: 90%;">
            <img class="mySlides" src="static/onlinedasurvapp/img-shop/12.webp"  alt="product-items" style="width:100%; height: 90%;">
            <img class="mySlides" src="static/onlinedasurvapp/img-shop/13.webp"  alt="product-items" style="width:100%; height: 90%;">
            <img class="mySlides" src="static/onlinedasurvapp/img-shop/14.webp"  alt="product-items" style="width:100%; height: 90%;">
            <img class="mySlides" src="static/onlinedasurvapp/img-shop/15.webp"  alt="product-items" style="width:100%; height: 90%;">
            <img class="mySlides" src="static/onlinedasurvapp/img-shop/16.webp"  alt="product-items" style="width:100%; height: 90%;">
            <img class="mySlides" src="static/onlinedasurvapp/img-shop/17.webp"  alt="product-items" style="width:100%; height: 90%;">
            <div class="w3-center w3-container w3-large w3-text-white w3-display-bottommiddle" style="width: 100%;">
                <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(7)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(8)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(9)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(10)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(11)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(12)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(13)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(14)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(15)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(16)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(17)"></span>
            </div>
        </div>
    </section>
    <hr>
    <script>
        /*For Slide */
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n){
    showDivs(slideIndex += n);
}

function currentDiv(n){
    showDivs(slideIndex = n);
}

function showDivs(n){
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if(n > x.length){slideIndex = 1}
    if(n < 1){slideIndex = x.length}
    for (i = 0; i < x.length; i++){
        x[i].style.display = "none";
    }
    for (i = 0; i< dots.length; i++){
        dots[i].className = dots[i].className.replace("w3-white", "");
    }
    x[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += "w3-white";
}

/* For Dark Mode */
function toggledarkmode(){
    document.body.classList.toggle("darkmode");
}
    </script>
{% endblock %}